<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles.css')}}">
</head>

<body>
    <center>
        <h1 class="header">Welcome to KL ERP</h1>
        <div class="navbar">
            <a href="/register">Register</a>&ensp;
        <a href="/login">Login</a>
        </div>
        
    </center>
    <div style="padding: 10px;">
        {% block content %}{% endblock %}
    </div>
    <center>
        <h5 class="footer">Copyrights &copy; Reserved KL CSE-H2022</h5>
    </center>
</body>

</html>